/* Responsive Design
------------------------------------------------------------ */

@media only screen and (max-width: 1400px) {

	.section .tekserve-case-study,
	.section .tekserve-testimonial {
		width: auto;
		position: static;
	}
	
}

@media only screen and (min-width: 1200px) {

	.max450 .wpb_wrapper {
		max-height: 300px;
	}
	
	.max550 .wpb_wrapper {
		max-height: 400px;
	}
	
	.max650 .wpb_wrapper {
		max-height: 500px;
	}
	
	.max750 .wpb_wrapper {
		max-height: 600px;
	}
	
	.max850 .wpb_wrapper {
		max-height: 700px;
	}
	
	.max950 .wpb_wrapper {
		max-height: 800px;
	}
	
	.max1050 .wpb_wrapper {
		max-height: 900px;
	}
	
	.page-template-static_content-php #wrap #inner .wrap #content .vc_row-fluid .leftstory .wpb_wrapper {
		padding: 2em 2em 2em 4em;
	}

	.page-template-static_content-php #wrap #inner .wrap #content .vc_row-fluid .rightstory .wpb_wrapper {
		padding: 2em 4em 2em 2em;
	}
	
	.tekserve-fax-boxes #hero-image {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center top; 
	}
	
}

@media only screen and (min-width: 1400px) {

	.page-template-static_content-php #wrap #inner .wrap #content .vc_row-fluid .leftstory .wpb_wrapper {
		padding: 2em 2em 2em 4em;
	}

	.page-template-static_content-php #wrap #inner .wrap #content .vc_row-fluid .rightstory .wpb_wrapper {
		padding: 2em 4em 2em 2em;
	}

}

@media only screen and (min-width: 1750px) {

	.page-template-static_content-php #wrap #inner .wrap #content .vc_row-fluid .leftstory .wpb_wrapper {
		padding: 2em 2em 2em 12em;
	}

	.page-template-static_content-php #wrap #inner .wrap #content .vc_row-fluid .rightstory .wpb_wrapper {
		padding: 2em 14em 2em 2em;
	}
	
	.tekserve-faq-boxes .box-title h2 a {
		font-size: 1em;
	}

}

@media only screen and (max-width: 1200px) {

	.wrap {
		width: 960px;
	}

	.page #content,
	.page.page-template-page_blog-php #content,
	.single #content,
	#content {
		padding: 0 10%;
	}

	.section {
		width: 960px;
	}

	.search-results .hentry.even a img, .archive .hfeed .hentry.even a img {
	margin: 0 5px 30px 30px;
	}

	.search-results .hentry.odd a img, .hfeed .search-results .hentry.odd a img {
	margin: 0 30px 30px 0 !important;
	}

	.search-results .hentry.odd a img, .search-results .hentry.even a img, .archive .hfeed .hentry.odd a img, .archive .hfeed .hentry.even a img {
	height: 200px;
	width: 200px;
	}
	
	.menu-primary li {
/* 		text-align: center; */
	}
	
	.nrelate_default.nr_150 a.nr_panel {
		margin-right: 4% !important;
	}
	
	.page-template-static_content-php #wrap #inner .wrap #content .vc_row-fluid .leftstory .wpb_wrapper {
		padding: 2em;
	}

	.page-template-static_content-php #wrap #inner .wrap #content .vc_row-fluid .rightstory .wpb_wrapper {
		padding: 2em;
	}
	
	div.orangebox {
		position: relative;
		right: 60px;
	}
	
	.tekserve-faq-boxes .box-title h2 a {
		font-size: .75em;
	}
	

	
}

@media only screen and (min-width: 1024px) {

	#showHiddenForm {
		display: none !important;
	}
	
	body.admin-bar {
		margin-top: -28px;
		padding-bottom: 28px;
	}
	#wpadminbar {
		top: auto !important;
		bottom: 0;
	}
	#wpadminbar .quicklinks>ul>li {
		position:relative;
	}
	#wpadminbar .ab-top-menu>.menupop>.ab-sub-wrapper {
		bottom:28px;
	}

}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {

	.slickmap #primaryNav li a,
	.slickmap #primaryNav li a:link::before,
	.slickmap #primaryNav li a:visited::before {
		font-size: 1em !important;
	}
	
	.slickmap #primaryNav li li a,
	.slickmap #primaryNav li li a:link::before,
	.slickmap #primaryNav li li a:visited::before,
	.slickmap #primaryNav li li li a,
	.slickmap #primaryNav li li li a:link::before,
	.slickmap #primaryNav li li li a:visited::before {
		font-size: .75em !important;
	}

}

@media only screen and (max-width: 1024px) {

	body {
		margin: 0 auto;
		width: 100%;
	}

	.footer-widgets-1,
	.footer-widgets-5,
/* 	.menu-primary, */
	.menu-secondary,
	.wrap,
	#content,
	#content-sidebar-wrap,
	#footer .creds,
	#footer .gototop,
	#footer-widgets .wrap,
	#header ul.menu,
	#header .widget-area,
	#title-area {
		width: 100%;
	}
	
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4 {
		width: 30%;
	}

	.menu-primary,
	.menu-secondary,
	#description,
	#footer .creds,
	#footer .creds div.leftcopy,
	#footer .creds div.centercopy,
	#footer .creds div.rightcopy,
	#footer .gototop,
	#header ul.menu,
	#header .searchform,
	#title,
	#title-area {
		float: none;
		text-align: center;
	}
	
	#footer .creds div.leftcopy,
	#footer .creds div.centercopy,
	#footer .creds div.rightcopy,
	#footer .gototop {
		padding: 1em 0;
		width: 100%;
	}
	
	#footer .creds div.rightcopy {
		padding-bottom: 3em;
	}

	#title-area {
		margin: 0;
		padding: 20px 0 0;
	}

	#header .menu a {
		padding: 15px 20px;
	}

	.footer-widgets-1,
	.footer-widgets-5,
	#wrap {
		margin: 0;
	}

	.footer-widgets-1,
	.footer-widgets-5,
	#footer-widgets .wrap,
	#title a,
	#title a:hover {
		padding: 0;
	}

	#header .widget-area {
		padding: 0 0 20px;
	}

	#header .searchform {
		margin: 20px 0 0;
	}

	#header .s {
		width: 50%;
	}

	.menu-primary li,
	.menu-secondary li,
	#header ul.menu li {
		display: inline-block;
		float: none;
	}

	.menu li.right {
/* 		display: none; */
	}

	.menu li li {
		text-align: left;
	 }

	 #footer-widgets .wrap {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 40px 40px 0;
	}

	#footer-widgets .widget {
		margin: 0 0 40px;
	}

	#footer-widgets .latest-tweets {
		margin: -40px 0 40px;
	}
	
	#nav.floating-menu {
		opacity: 1;
	}
	
	.section {
		width: 90%;
	}
	.section.dboxsection {
		min-width: 960px;
		max-width: 100%;
	}
	
	.section p, .section h1, .section .button, .section .drawer .collapseomatic {
/* 		font-size: .8em; */
	}
	
	.nrelate_default .nr_col_1.nr_panel, .nrelate_default .nr_col_2.nr_panel {
	margin-right: 5%;
	}
	
	.nrelate_default .nr_col_1.nr_panel:hover, .nrelate_default .nr_col_2.nr_panel:hover {
	margin-right: 5%;
	}

	.gototop {
		display: none;
	}
	#status-wrapper {
		max-width: 100%;
	}
	
	ul.menu.genesis-nav-menu.menu-primary {
		width: 100%;
	}
	
	.tekserve-faq-boxes .hero-title h1 {
		min-width: 0;
	}
	
	.tekserve-faq-boxes #hero-image {
		background-image: url();
	}
	
	#Front_Page .widget.widget_categories, #pippin_simple_authors_widget-2, #archives-4, #Front_Page .widget_knrauthorlistwidget, #Front_Page .widget_anual_archive {
		width: 100% !important;
		margin: 0 auto 1em !important;
		float: left !important;
		padding: 24px 0 !important;
		display: block;
		max-width: 100% !important;
	}

	#Front_Page .widget.widget_categories h2, #pippin_simple_authors_widget-2 h2, #archives-4 h2, #Front_Page .widget_knrauthorlistwidget h2, #Front_Page .widget_anual_archive h2 {
		font-size: 1.5em !important;
		text-align: center !important;
	}

	#Front_Page .widget.widget_categories ul li, #pippin_simple_authors_widget-2 ul li, #archives-4 ul li, #Front_Page .widget_knrauthorlistwidget ul li, #Front_Page .widget_anual_archive ul li {
		margin: 0 !important;
		display: block;
		text-align: center !important;
	}
	
	#footer-widgets #emma-form input[type="submit"] {
		margin-bottom: 2em !important;
	}
	
	#Front_Page.widgets_on_page ul {
		display: block;
		margin: 0 auto !important;
		width: 100% !important;
		max-width: 100% !important;
		min-width: 100% !important;
	}
	
	.section [class*="vc_span"] {
		display: block;
		width: 100% !important;
		min-height: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.5%;
	}
	
	div.gform_wrapper .gform_footer, div.gform_wrapper .gfield, div.gform_wrapper input, div.gform_wrapper select, div.gform_wrapper textarea {
		width: 100%;
	}
	
	.page-template-static_content-php .vc_span6 div.wpb_text_column.wpb_content_element {
		width: 80% !important;
	}
	
	.page-template-static_content-php .vc_span6 div.wpb_text_column.wpb_content_element.rightside {
		margin-left: 20% !important
	}
	
	.page-template-static_content-php  .wpb_text_column.wpb_content_element.leftofform .wpb_wrapper {
		max-width: 300px;
		width: 100%;
		margin: 0 auto;
	}
	
	.page-template-static_content-php  .wpb_text_column.wpb_content_element img {
		-moz-border-radius: 0 !important;
		-webkit-border-radius: 0 !important;
		border-radius: 0 !important;
	}
	
	div.gform_wrapper .gform_footer input {
		float: right;
		width: auto;
	}
	
	.page-template-static_content-php div.wpb_text_column.wpb_content_element {
/* 		background-color: rgba(255,255,255,.8); */
		padding: 1em;
		position: relative;
		top: 1em;
		padding-top: 0;
	}

	.page-template-static_content-php .darkblue div.wpb_text_column.wpb_content_element,
	.page-template-static_content-php .lightblue div.wpb_text_column.wpb_content_element,
	.page-template-static_content-php .orange div.wpb_text_column.wpb_content_element {
/* 		background-color: rgba(0,0,0,.2); */
	}
	
	.page-template-static_content-php .nogrey div.wpb_text_column.wpb_content_element  {
		background-color: #FFF;
	}
	
	.page-template-static_content-php div.wpb_text_column.wpb_content_element.leftofform {
		width: 100%;
		background-color: transparent;
	}
	
	
	.bgimage {
		display:none;
	}
	
	div.orangebox {
		width: 200px;
	}

	div.orangebox h1 a, div.orangebox h1 a:visited, div.orangebox h1 {
		font-size: 1.5em;
	}

	div.orangebox h2 a, div.orangebox h2 a:visited, div.orangebox h2 {
		font-size: 1.1em;
	}

	div.orangebox .button {
		font-size: 1em;
	}

	div.orangebox {
		right: 40%;
	}
	
	div.gform_wrapper [id*="choice"] {
		width: auto;
	}
		
	.max450,
	.max550,
	.max650,
	.max750,
	.max850,
	.max950,
	.max1050 {
		max-height: 5000px;
	}
	
	.tekserve_rental_request_container .tekserve_rental_request {
		width: 100%;
		display: block;
	}

	.tekserve_rental_request_container .tekserve_rental_request_line_items {
		width: 100%;
		float: none;
		display: block;
	}
		
	.slickmap #primaryNav li {
		width: 100%;
	}
	.slickmap #primaryNav li#home a {
		width: auto;
	}
	
	.slickmap.sitemap {
		margin-right: 0;
		padding: 0;
	}
	
	.slickmap #primaryNav li#home {
		background-image: none;
	}
	
	.slickmap #primaryNav li,
	.slickmap #primaryNav #home,
	.slickmap #primaryNav li:last-child {
		background-image: none;
	}
	
	.slickmap #primaryNav li li {
		background: url('../../plugins/slickmap/images/vertical-line.png') center bottom repeat-y;
	}
	
	.slickmap #primaryNav li li li {
		background: url('../../plugins/slickmap/images/L3-center.png') left center no-repeat;
	}
	.slickmap #primaryNav li li li:last-child {
		background: url('../../plugins/slickmap/images/L3-bottom.png') left center no-repeat;
	}
	
	.slickmap #primaryNav li li li a {
		width: 80%;
	}
	
	.section.dboxsection {
 		min-width: 768px;
 	}
 	
 	.tribe-is-responsive #subnav {
 		display: none;
 	}
 	.tekserve-faq-boxes div.row.boxes.wpb_row.vc_row-fluid {
		min-width: 100% !important;
	}
	
	.menu-primary li:nth-last-child(2) {
		border-right: none;
	}
	
	.tekserve_custom_search .search-option-menu {
		float: right;
	}
	
}

@media (max-width:1024px) and (min-width:768px) {

	.page-template-page-knowledge-base-php .knowledge-base.row [class*="vc_span"] {
		display: block;
		width: 100% !important;
		min-height: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 1em !important;
	}
	
	h2.knowledge-base-root-title {
		font-size: 1.5em !important;
	}
	
	form.searchform.search-form {
		width: 480px;
		text-align: center;
	}
	
	.menu-primary li.custom-search {
		margin-top: 0;
	}
	
	.menu-primary li {
		margin: 7px 0;
	}

}

@media only screen and (max-width: 768px) {



	#subnav .wrap {
		width: 80% !important;
		text-align: center;
	}
 
 	h2.knowledge-base-root-title {
		font-size: 1.5em !important;
	}
	
	h2.knowledge-base-root-title a {
		font-size: 1em !important;
	}

	.single-tekserve_faq_device .section,
	.single-tekserve_faq_os .section {
		position: relative;
		width: 200%;
		overflow-x: hidden;
		-webkit-transition: left 300ms cubic-bezier(0.580, 1, 0.835, 1); /* older webkit */
		-webkit-transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); 
		-moz-transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); 
		-o-transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); 
		transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); /* custom */
	}

	.section .vc_span7.wpb_column.column_container.tekserve-faq-col-right {
		width: 50% !important;
		float: left !important;
		margin-left: 0 !important;
		padding-right: 2em !important;
	}
	
	.section .vc_span7.wpb_column.column_container.tekserve-faq-col-right .tekserve-faq-slide-link {
		display: block !important;
	}
	
	.section .vc_span7.wpb_column.column_container.tekserve-faq-col-right .tekserve-faq-slide-link .tekserve-faq-slide-back {
		font-size: 1.5em;
		color: #40a8c9 !important;
		cursor: pointer;
	}
	
	.section .vc_span7.wpb_column.column_container.tekserve-faq-col-right .tekserve-faq-slide-link .tekserve-faq-slide-back:before {
		content: "\f100"; 
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		color: #40a8c9;
		font-size: inherit;
		position: relative;
		top: 0;
		left: -.2em;
	}
	
	.section .vc_span7.wpb_column.column_container.tekserve-faq-col-right .tekserve-faq-slide-link .tekserve-faq-slide-title {
		font-size: 1.5em;
		font-weight: bold;
		margin-left: 2em;
	}

	.section .vc_span5.wpb_column.column_container.tekserve-faq-col-left {
		width: 50% !important;
		float: left !important;
		margin-left: 0 !important;
	}
	
	.tekserve-faq-issue-list li a.active:after {
		content: "";
		margin: 0 .5em;
		font-family: 'fontawesome' !important;
		color: #40a8c9;
		font-size: .75em;
	}
	
	.single .wrap #content div ul.tekserve-faq-issue-list li a.active {
		color: #004d72 !important;
	}
 	
	.navigation li, tfoot .pagination ul li {
		margin: 0 .5em 1em;
		display: inline-block;
		min-width: 3em;
	}
	
	.navigation li.pagination-omission, tfoot .pagination ul li.pagination-omission {
		display: none;
	}
 
	.section.dboxsection {
 		min-width: 640px;
 	}
 
 	table td {
 		display: block;
 	}
 	
 	#tribe-events-content .tribe-events-calendar td {
 		display: table-cell;
 	}
 	
 	table td img {
 		width: auto !important;
 	}

	.apparition-landing #inner,
	#inner {
		padding: 30px 0;
	}
	
	.single h1.entry-title,
	h1,
	h2 {
		clear: both;
		font-size: 1.25em;
	}
	
	h2 a {
		clear: both;
		font-size: 1em;
	}

	.even img.alignleft,
	img.alignright,
	img.alignleft {
		display: block;
		float: none;
		margin: 50px auto !important;
		width: 100%;
		height: auto;
	}
	
	.nrelate_default .nr_img_div img {
		width: 75% !important;
		height: auto !important;
		margin: 0 auto !important;
	}

	.archive-page,
	.five-sixths,
	.four-fifths,
	.four-sixths,
	.one-fifth,
	.one-fourth,
	.one-half,
	.one-sixth,
	.one-third,
	.three-fifths,
	.three-fourths,
	.three-sixths,
	.two-fifths,
	.two-fourths,
	.two-sixths,
	.two-thirds {
		padding: 0;
		width: 100%;
	}

	 #footer-widgets .wrap {
		padding: 0 20px;
	}

	#footer-widgets .widget {
		margin: 0 0 20px;
	}

	#footer .wrap {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 20px;
	}
	.section {
		width: 80%;
	}
	
	.search-results .hentry.odd a img, .search-results .hentry.even a img, archive .archive .hfeed .hentry.odd a img, .archive .hfeed .hentry.even a img {
	margin: 0 0 30px 0 !important;
	width: 200px;
	height: 200px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	}
	
	#title-area {
	background-image: url('images/mobileheader@2x.svg');
	background-size: 50% !important;
	background-position-y: 50% !important;
	}
	
	.single #content-sidebar-wrap #sidebar {
	float: right;
	width: 25%;
	display: block;
	min-width: 300px;
	position: relative;
	right: 25%;
	}
	
	.single #content-sidebar-wrap #content {
	width: 100%;
	}
	
	.single #content-sidebar-wrap #content {
		display: block;
		width: 95%;
		margin: 0 auto;
		float: none;
	}
	
	.nrelate_default .nr_col_1.nr_panel, .nrelate_default .nr_col_2.nr_panel {
	margin-right: 5%;
	}
	
	.nrelate_default .nr_col_1.nr_panel:hover, .nrelate_default .nr_col_2.nr_panel:hover {
	margin-right: 5%;
	}
	
	table.sortable thead tr,
	table.sortable tbody tr {
		font-size: .75em;
	}

	table.sortable tr th:first-child, 
	table.sortable tr td:first-child {
		display: none;
	}
	
	.tekserve-testimonial .tekserve-testimonial-quote,
	.section .tekserve-case-study  {
		font-size: 1.375em;
	}
	
	.section .tekserve-case-study .tekserve-case-study-text p {
		font-weight: normal;
	}
	
	.tekserve-testimonial .tekserve-testimonial-source {
		font-size: 1.125em;
	}
	
	.rev_slider_wrapper .rev_slider .tp-caption.size14 {
		font-size: 11px !important; 
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size28 {
		font-size: 22px !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size36 {
		font-size: 28px !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size48 {
		font-size: 38px !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size60 {
		font-size: 48px !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size72 {
		font-size: 56px !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size96 {
		font-size: 76px !important;
	}
	
	.tekserve-faq-boxes.page-template-static_content-php #wrap #inner .wrap #content .vc_row-fluid.boxes .vc_span4 {
		width: 50%;
	}
	
		
	.vc_responsive.tekserve-faq-boxes div.vc_row-fluid.boxes div[class*="vc_span"] {
		max-width: 320px !important;
		margin: 0 auto !important;
	}

	.footer-folk .footer-folk-image {
		display: none;
	}
	
		
	.tekserve-faq-device-image img,
	.tekserve-faq-os-image img {
		margin-right: 0;
		margin-bottom: 2em;
	}
	
	#ui-datepicker-div.ui-datepicker tbody td {
		display: table-cell;
	}
	
	#tribe-events-footer .tribe-events-sub-nav li a {
		background: transparent;
		color: #f36f37;
		display: inline;
	}
	
	#tribe-events-footer .tribe-events-sub-nav li a:hover {
		color: #004d72;
	}
	
	#tribe-events-footer .tribe-events-sub-nav li a[rel='prev'] {
		margin-bottom: -980px;
	}
	
}

@media (max-width:800px) and (min-width:640px) {

	.section {
		width: 100%;
	}
	
	.section [class*="vc_span"] {
		width: 90% !important;
		margin: 0 auto !important;
		float: none !important;
	}
	
	.page-template-static_content-php #wrap #inner .wrap #content .vc_row-fluid .vc_span4 {
		width: 31%;
	}
	
	div.orangebox h1 a, div.orangebox h1 a:visited, div.orangebox h1 {
		font-size: 1.8em;
		max-height: 100px;
		margin-bottom: 1em;
	}

	div.orangebox h2 a, div.orangebox h2 a:visited, div.orangebox h2 {
		font-size: 1.1em;
	}
	
	.page-template-static_content-php div.wpb_text_column.wpb_content_element, .page-template-static_content-php .darkblue div.wpb_text_column.wpb_content_element, .page-template-static_content-php .lightblue div.wpb_text_column.wpb_content_element, .page-template-static_content-php .orange div.wpb_text_column.wpb_content_element {
		width: 630px;
	}
	
	.page-template-static_content-php .vc_span6 div.wpb_text_column.wpb_content_element {
		width: 75% !important;
	}
	
	.page-template-static_content-php .vc_span6 div.wpb_text_column.wpb_content_element.rightside {
		margin-left: 20% !important
	}

	.section .detailBox .detailBoxTrigger,
	.section .detailBox .detailBoxTrigger-container {
		width: 280px;
	}
	
	.section .detailBox .detailBox-right.active,
	.section .detailBox .detailBox-detail {
		width: 360px;
	}
	
	ul.tekserve_custom_search_menu {
		width: 100%!important;
	}

	ul.menu.genesis-nav-menu.menu-primary {
		text-align: center;
	}
	
	ul.menu.genesis-nav-menu.menu-primary li {
		height: 1em;
		margin-left: 1em;
	}
	
	ul.menu.genesis-nav-menu.menu-primary li a {
		font-size: .75em;
		font-weight: 200;
	}
	
	ul.menu.genesis-nav-menu.menu-primary li.tekserve_custom_search {
		margin-bottom: 2em;
	}
	
	.menu li.right.search {
	display: inline-block;
	}
	
	form.searchform.search-form {
/* 	top: 5px; */
		width: 280px;
	}
	
	input.s.search-input {
		height: 1.5em;
		font-size: 1em;
	}
	
	.tekserve_custom_search #search-option {
		height: 1.5em;
	}
	
	.tekserve_custom_search .search-option-menu {
		font-size: 1em;
		min-width: 180px;
		top: -34px;
		left: 150px;
	}
	
	#inner {
		margin-top: 1em !important;
	}
	
	#respond .comment-form p input, #respond .comment-form p textarea, #author, #comment, #email, #url {
		width: 280px !important;
	}
	
	.single #content-sidebar-wrap #sidebar {
		float: right;
		width: 90%;
		display: block;
		min-width: 300px;
		position: relative;
		right: 5%;
		border-top: 16px solid #40a8c9;
		padding-top: 24px;
	}

}

@media only screen and (max-width: 640px) {

	.noSe {
		display: none !important;
	}
	
	#inner {
		width: 568px;
		overflow: hidden;
	}

	#title {
		font-size: 1.5em;
	}

	.menu-primary a,
	.menu-secondary a,
	#header .menu a {
		padding: 10px 15px;
	}

	h1,
	h2 {
		font-size: 1.175em;
	}

	blockquote {
		padding: 0 0 0 30px;
		background-size: 30px;
	}
	
	blockquote p {
		font-weight: normal;
	}
	
	.author-box .avatar {
		display: none;
	}
	.section .twoUp .left, .section .twoUp .right{
		width:100%;
		max-width:100%;
	}
	
	ul.menu.genesis-nav-menu.menu-primary,
	.menu-primary {
		width: 290px !important;
		padding: 5px 0 7px;
		min-height: 1.5em;
		background: #f36f37 url(images/navmenumobile@2x.png) no-repeat 50%;
		background-size: 60%;
	}
	.menu-primary li {
		display: none; /* hide all <li> items */
		margin: 0;
	}
	#nav .current {
		display: block; /* show only current <li> item */
	}
	#nav a {
		display: block;
/* 		padding: 5px 5px 5px 32px; */
		padding: 0;
		text-align: left;
		color: #fff;
	}
	#nav .current a {
		background: none;
		color: #666;
	}

	/* on nav hover */
/* 
	ul.menu.genesis-nav-menu.menu-primary:hover,
	.menu-primary:hover {
		background-image: none;
		padding-top: 28px !important;
		padding-left: 28px;
	}
	.menu-primary:hover li {
		display: block;
		margin: 0 0 5px 1em;
		border: none;
	}
	.menu-primary:hover .current {
		background: url(images/icon-check.png) no-repeat 10px 7px;
	}
 */
 
	ul.menu.genesis-nav-menu.menu-primary.hovermenu,
	.menu-primary.hovermenu {
		background-image: none;
		padding-top: 28px !important;
		padding-left: 28px;
	}
	
	.menu-primary.hovermenu li {
		display: block;
		margin: 0 0 5px 1em;
		border: none;
	}
	
	.menu-primary.hovermenu .current {
		background: url(images/icon-check.png) no-repeat 10px 7px;
	}
	
	.menu-primary .custom-search {
		margin: 0 0 15px -10px !important;
	}

	/* right nav */
	.nav.right ul {
		left: auto;
		right: 0;
	}

	/* center nav */
	.nav.center ul {
		left: 50%;
		margin-left: -90px;
	}
	
	#nav {
		width: auto;
		box-shadow: none;
		background: none;
	}
	
	#subnav .menu-secondary {
		margin: 10px auto;
	}
	
	#subnav .menu-secondary li {
		width: 90%;
		text-transform: uppercase;
		border: none;
		text-align: left;
		max-width: 250px;
		text-indent: 0;
	}
	
	.search-form {
		position: relative;
		right: 18px;
		float: none;
		width: 280px;
		margin: 0 auto;
	}
	input.s.search-input {
		font-size: 1.125em;
		font-weight: bold;
		height: 28px;
		color: #004d72;
		border: 1px solid #40a8c9;
		border-right: none;
	}
	li.right.search {
	list-style: none;
	margin-top: 30px;
	}
	
	.tekserve_custom_search .search-option-menu {
		top: -38px;
		left: 32px;
		font-size: 16px;
		min-width: 125px;
		float: right;
	}
	
	.tekserve_custom_search #search-option {
		height: 28px;
	}
	
	#nav .wrap {
	position: relative;
	background-color: #004d72;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
	}
	
	#nav .closeButton {
	z-index: 1000;
	height: 54px;
	width: 100%;
	background-color: #f36f37;
	background-image: url('images/mobileclosebutton@2x.png');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	top: -80px;
	right: 0;
	display: none;
	}
	
	#respond .comment-form p input, #respond .comment-form p textarea, #author, #comment, #email, #url {
	width: 250px !important;
	}
	
	.footer-widgets-2,
	.footer-widgets-3,
	.footer-widgets-4 {
		width:100%;
		margin: 0;
		padding: 0;
	}
	
	.vc_responsive div.vc_row-fluid div[class*="vc_span"] {
		float: none;
		display: block;
		width: 100% !important;
		margin-left: 0;
		min-height: 0 !important;
	}
	
	.section [class*="vc_span"] {
		display: block;
		width: 100% !important;
		min-height: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
		float: left;
		margin-left: 2.5%;
	}
	
	.tekserve-faq-boxes #boxes-container {
		margin-top: 0;
	}
	
	.page-template-static_content-php .darkblue div.wpb_text_column.wpb_content_element,
	.page-template-static_content-php .lightblue div.wpb_text_column.wpb_content_element,
	.page-template-static_content-php .orange div.wpb_text_column.wpb_content_element {
		background-color: transparent;
	}
	
	.page-template-static_content-php .tekserve-single-post img,
	.page-template-static_content-php .tekserve-single-post #tekserve-single-post-excerpt,
	#Front_Page .widget.widget_categories ul li,
	#pippin_simple_authors_widget-2 ul li,
	#archives-4 ul li,
	#Front_Page .widget_knrauthorlistwidget ul li,
	#Front_Page .widget_anual_archive ul li {
		display: none;
	}
	
	#Front_Page .widget.widget_categories h2,
	#pippin_simple_authors_widget-2 h2,
	#archives-4 h2,
	#Front_Page .widget_knrauthorlistwidget h2,
	#Front_Page .widget_anual_archive h2 {
		cursor: pointer !important;
	}
	
	#Front_Page .widget.widget_categories,
	#pippin_simple_authors_widget-2,
	#archives-4,
	#Front_Page .widget_knrauthorlistwidget,
	#Front_Page .widget_anual_archive {
		height: auto !important;
	}
	
	.nrelate_default a.nr_panel {
		margin: 0 auto 25px !important;
		width: 100% !important;
		min-height: 0 !important;
	}
	
	div.orangebox {
		right: .75em;
		width: 280px;
	}
	
	div.orangebox h1 a, div.orangebox h1 a:visited, div.orangebox h1 {
		font-size: 1.75em;
	}
	
	.page-template-static_content-php #wrap #inner .wrap #content .vc_row-fluid .wpb_column .wpb_wrapper {
		padding: .25em .5em;
	}

	.rightstory .tekserve-single-post .tekserve-single-post-button,
	.leftstory .tekserve-single-post .tekserve-single-post-button {
		float: none;
	}
	
	.page-template-static_content-php div.wpb_text_column.wpb_content_element.leftofform {
		width: 100%;
		background-color: transparent;
		padding: 0;
	}
	
	.page-template-static_content-php .vc_span6 div.wpb_text_column.wpb_content_element {
		width: 100% !important;
		margin-left: 0 !important;
	}
	
	.page-template-static_content-php .vc_span6 div.wpb_text_column.wpb_content_element.rightside {
		margin-left: -2.5% !important;
	}
	
	#showHiddenForm {
		margin-bottom: 1em;
	}
	
	#footer-widgets .widget-area ul li {
		text-indent: 0;
	}
	
	.section .detailBox {
		width: 1280px;
		position: relative;
		-webkit-transition: left 300ms cubic-bezier(0.580, 1, 0.835, 1); /* older webkit */
		-webkit-transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); 
		-moz-transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); 
		-o-transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); 
		transition: left 300ms cubic-bezier(0.580, 1.230, 0.835, 1.035); /* custom */
		padding: 3em;
	}
	
	.section .detailBox.shifted {
		left: -640px;
	}
	
	.section .detailBox .detailBox-detail,
	.section .detailBox .detailBox-right {
		max-width: 540px;
	}
	
	.section .detailBox .detailBox-right .detailBox-mobile {
		display: block;
		margin-bottom: 1em;
	}
	
	.section .detailBox .detailBox-right .detailBox-mobile-back {
		font-size: 1.25em;
		text-transform: uppercase;
		padding: 0 1em;
		cursor: pointer;
		position: relative;
		vertical-align: top;
	}
	
	.section .detailBox .detailBox-right .detailBox-mobile-title {
		font-size: 1.25em;
		text-align: center;
		width: 400px;
		display: inline-block;
		font-weight: 900;
		text-transform: uppercase;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size14 {
		font-size: 7px !important; 
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size28 {
		font-size: 18px !important;
		line-height: 1.1em !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size36 {
		font-size: 22px !important;
		line-height: 1.1em !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size48 {
		font-size: 28px !important;
		line-height: 1em !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size60 {
		font-size: 32px !important;
		line-height: 1em !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size72 {
		font-size: 38px !important;
		line-height: 1em !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size96 {
		font-size: 50px !important;
		line-height: 1em !important;
	}
	
	.page-template-static_content-php .wpb_row {
		background-image: none !important;
	}
	
	p, .section p {
		text-align: left;
	}
	
	.wpb_revslider_element {
		display: none !important;
	}
	
	.section a.simpleCart_checkout.button {
		float: none;
		font-size: 1.25em;
	}
	
	.tekserverental-checkout .tekserverental-shipping label,
	.tekserverental-checkout .tekserverental-checkout-form label {
		font-size: 1.125em;
		padding-top: 1em;
	}
	
	.tekserverental-checkout .tekserverental-shipping label.lower,
	.tekserverental-checkout .tekserverental-checkout-form label.lower {
		padding: .25em 0 1em;
	}
	
	.slickmap #primaryNav li,
	.slickmap #primaryNav #home,
	.slickmap #primaryNav li:last-child {
		background-image: none;
	}
	
	.slickmap #primaryNav li li {
		background: url('../../plugins/slickmap/images/vertical-line.png') center bottom repeat-y;
	}
	
	.slickmap #primaryNav li li ul {
		display: none;
	}
	
	.section.dboxsection {
		min-width: 0;
		max-width: 1000%;
	}
	
	.gform_wrapper .top_label input.medium,
	.gform_wrapper .top_label select.medium {
		width: 100% !important;
	}
	
	#hero .hero-title {
		display: none;
	}
	
	.tekserve-faq-boxes #hero {
		height: auto;
	}
	
	.hentry .tekserve_faq_device a img,
	.hentry .tekserve_faq_os a img {
		width: 200px;
		max-width: 100%;
		height: auto;
	}
	
	.vc_span7.wpb_column.column_container.tekserve-faq-col-right .tekserve-faq-slide-link .tekserve-faq-slide-title {
		margin-left: 1em;
		font-size: 1.175em;
		display: inline-block;
		width: 100%;
	}
	
	.single .tekserve_faq_os h1.entry-title,
	.single .tekserve_faq_device h1.entry-title {
		width: 50%;
	}
	.tekserve-testimonial .tekserve-testimonial-quote,
    .section .tekserve-case-study{
    	font-size: 1em;
    }
    
    .tekserve-testimonial .tekserve-testimonial-quote p,
    .section .tekserve-case-study p {
    	font-size: .75em;
    }
    
    .tekserve-testimonial .tekserve-testimonial-source {
    	font-size: 1em;
    }
    
    .section .tekserve-case-study {
    	font-size: .75em;
    }
    
    .section .tekserve-case-study p {
    	font-size: 1em;
    	font-weight: 200 !important;
    }
    
    h2.tribe-events-list-event-title a,
    h2.tribe-events-list-event-title a:visited,
    .tribe-events-list-event-description a:visited,
    .tribe-events-list-event-description a {
    	font-size: .8em;
    }
    
    .tribe-events-list .tribe-events-loop .tribe-events-content>p {
    	display: none;
    }
    
    .single-tribe_events #tribe-events-content h2.tribe-events-single-event-title,
    .tribe-events-before-html h2,
    .tribe-events-after-html h2,
    #tribe-events-pg-template .tribe-events-content h2,
    #tribe-events-content h3.tribe-events-related-events-title {
    	font-size: 1.125em !important;
    }
    
   
		
}

@media only screen and (max-width: 500px) {

	.single .tekserve_faq_os h1.entry-title,
	.single .tekserve_faq_devicee h1.entry-title {
		width: 280px;
	}
	
	ul.category-posts li,
	ul.sub-categories,
	h2.knowledge-base-root-title {
		max-width: 230px;
	}
	
	.section a.simpleCart_checkout.button {
		max-width: 250px;
	}
	
	#inner {
		width: 320px;
		overflow: hidden;
	}
	
	#title-area {
		background-image: url('images/mobileheader.9-8.11-6@2x.svg');
		background-size: 90% !important;
		background-position-y: 50% !important;
	}
	
	.section {
		width: 90%;
	}
	
	.single #content-sidebar-wrap #sidebar {
		right: auto;
		left: auto;
		width: 100%;
	}
	
	h1, .section h1 {
		font-size: 1.25em;
	}
	
	h2, .section h2 {
		font-size: 1.175em;
	}
	
	h3, .section h3 {
		font-size: 1.125em;
	}
	
	h4, .section h4 {
		font-size: 1em;
	}
	
	h5, .section h5 {
		font-size: .825em;
	}
	
	h6, .section h6 {
		font-size: .625em;
	}
	
	p b, .section p b, p strong, .section p strong {
		font-weight: 200;
		font-size: 1.125em;
	}
	
	ul#emma-form-elements li.emma-form-row {
		text-indent: 0;
	}
	
	.status-front .label {
		font-size: 1.25em;
	}
	
	div.gform_wrapper .gfield_label {
		font-size: 1.175em
	}
	
	.tekserve-single-post .tekserve-single-post-button {
		font-size: 1.175em;
	}

	#status-content .status-front .statusField {
		font-size: 1.175em;
		padding: 0;
	}

	#status-content .status-front .statusField .limit {
		font-size: .75em;
	}

	#status-content .status-front .limit {
		font-size: 1em;
		padding: 0;
	}

	button.positive {
		font-size: 1.25em;
	}
	
	#Front_Page .widget.widget_categories h2, #pippin_simple_authors_widget-2 h2, #archives-4 h2, #Front_Page .widget_anual_archive h2, #Front_Page .widget_knrauthorlistwidget h2 {
		font-size: 1em !important;
	}
	
	#Front_Page .widget.widget_categories, #pippin_simple_authors_widget-2, #archives-4, #Front_Page .widget_anual_archive, #Front_Page .widget_knrauthorlistwidget {
		margin: 1em auto !important;
	}
	
	.entry-content ul.certificationlogos li {
		margin: 0 auto;
		width: 210px;
	}

	.section .detailBox {
		width: 640px;
		padding: 1em;
	}
	
	.section .detailBox .detailBox-left, 
	.section .detailBox .detailBox-right {
		width: 45%;
		min-height: 480px;
	}
	
	.section .detailBox .detailBox-left {
		margin-right: 1em;
	}
	
	.section .detailBox .detailBoxTrigger {
		width: 85%;
	}
	
	.section .detailBox.shifted {
		left: -320px;
	}
	
	.section .detailBox .detailBox-right .detailBox-mobile-back {
		left: 1em;
	}
	
	.section .detailBox .detailBox-right .detailBox-mobile-title {
		width: auto;
	}
	
	.section .detailBox .detailBox-detail, .section .detailBox .detailBox-right {
		max-width: 280px;
	}
	
	.section .detailBox .detailBox-detail {
		max-width: 250px;
		padding-left: 2em;
	}
	
	.section .detailBox .detailBox-right .detailBox-mobile-title {
		text-align: left;
		padding-left: 32px;
		padding-top: .5em;
	}
	
	.rev_slider_wrapper .rev_slider .tp-caption.size14 {
		font-size: 9px !important;
		line-height: 1em !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size28 {
		font-size: 12px !important;
		line-height: 1em !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size36 {
		font-size: 16px !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size48 {
		font-size: 20px !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size60 {
		font-size: 24px !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size72 {
		font-size: 30px !important;
	}

	.rev_slider_wrapper .rev_slider .tp-caption.size96 {
		font-size: 36px !important;
	}
	
	.post-type-archive-tekserve_faq_device .tekserve_faq_device, 
	.post-type-archive-tekserve_faq_os .tekserve_faq_os {
		max-width: 96% !important;
		min-height: 0 !important;
		margin: 0 auto 1em !important;
		width: 200px;
		display: block !important;
	}
	
	.section .tekserverentals-cart-container {
		width: 84%;
		right: 0;
		left: 1.5em;
		top: 40px;
		overflow-x: hidden;
	}
	
	.section .tekserverentals-cart-container .simpleCart_items .headerRow div,
	#addDialog .headerRow.div {
		padding: .125em;
		font-size: .5em
	}
	.section .tekserverentals-cart-container .simpleCart_items .itemRow div,
	#addDialog .itemRow div {
		padding: .25em;
		font-size: .4em;
	}
	
	.section .tekserverentals-cart-container .simpleCart_items .itemRow .item-decrement,
	.section .tekserverentals-cart-container .simpleCart_items .itemRow .item-increment {
		display: none;
	}
	
	.section .tekserverentals-cart-container .simpleCart_items .itemRow .item-name,
	#addDialog .itemRow .item-name {
		width: 75px;
	}
	
	.section .tekserverentals-cart-totals>div>div,
	.section .tekserverentals-cart-totals>div>span {
		padding: .1em;
		font-size: .75em;
	}

	.section div.tekserverentals-cart-container div.emptyCart-button,
	.section .tekserverentals-cart-container div.tekserverentals-cart-hidebutton,
	.section div.tekserverentals-cart-container div.tekserverentals-cart-showbutton.button {
		font-size: .75em;
	}
	
	.section .tekserverentals-cart-container div.emptyCart-button {
		margin-left: 106px;
	}
	
	.section .tekserverentals-cart-container div.tekserverentals-cart-hidebutton.button {
		width: auto;
		margin-left: 148px;
	}
	
	.section .tekserverentals-cart-container div.tekserverentals-cart-showbutton.button {
		width: auto;
		margin-left: 140px;
	}
	
	.tekserve_rental_request_container .tekserve_rental_request_line_items table td {
		display: table-cell;
	}
	
	.single-rentalrequest #subnav {
		display: none;
	}
	
	#inner #tribe-events-pg-template {
		padding: 1em 0;
	}
	
	#tribe-bar-form #tribe-bar-views [name="tribe-bar-view"] {
		display: none !important;
	}
		
}