/****************************
Pardot iFrame Styles
****************************/

body, h1, h2, h3, h4, h5, h6, p, select, textarea {
    color: #004d72;
    font-family: Tekvetica,'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

h1, h1 a:visited, h1 a:hover, h2, h2 a, h2 a:visited, h2 a:hover, h3, h3 a:visited, h3 a:hover, h4, h4 a:visited, h4 a:hover, h5, h5 a:visited, h5 a:hover, h6, h6 a:visited, h6 a:hover {
    font-family: Tekvetica,'Helvetica-Neue',Helvetica,Arial,sans-serif !important;
    line-height: 1.25;
    margin: 0.8em 0 0.5em;
    text-decoration: none;
}

h6, .section h6 {
    font-size: 0.625em;
}

p, .section p {
    text-align: left;
}

form.form p.required label, form.form span.required label {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    padding-left: 0;
}

.pardot-content form.form h4 {
	color: #40a8c9;
	font-weight: 900;
	text-transform: uppercase;
	line-height: 1;
	font-size: 1.25em !important;
	margin-top: 0 !important;
}

.pardot-content form.form p label {
	float: left;
	width: 97%;
	color: #f36f37;
	text-transform: uppercase;
	font-family: Tekvetica, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.25em;
	display: block;
	margin: 0;
}

.pardot-content form.form h6 {
	color: #f36f37;
}

.pardot-content form.form p input[type='submit'] {
	cursor: pointer;
    font-family: 'Tekvetica',Helvetica,sans-serif;
    line-height: 21px;
	-moz-border-radius: 12px 0 12px;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-border-radius: 12px 0 12px;
	-webkit-transition: all 0.2s ease-in-out;
	color: #fff;
	border-radius: 12px 0 12px;
	border: none;
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	margin: 1em 0;
	text-align: center;
	transition: all 0.2s ease-in-out;
	padding: .25em .33em .2em;
	float: left !important;
	min-width: 200px;
	width: 100%;
	border: 0px ridge #40a8c9;
	color: #FFF;
	background-color: #40a8c9;
	border-radius: 6px;
	padding: 4px 8px;
}

.pardot-content form.form p input[type='submit']:hover {
	border: 0px solid #000;
	color: #fff;
	background-color: #f37f37;
}

.pardot-content h3 {
	color: #40a8c9;
}