@font-face {
  font-family: 'Tekvetica';
	src: url('./fonts/tekvetica/Tekvetica-Bold.eot?') format('eot');
	src: url('./fonts/tekvetica/Tekvetica-Bold.woff') format('woff'), url('./fonts/tekvetica/Tekvetica-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}
@font-face {
	src: url('./fonts/tekvetica/Tekvetica-BoldItal.eot?') format('eot');
	src: url('./fonts/tekvetica/Tekvetica-BoldItal.woff') format('woff'), url('./fonts/tekvetica/Tekvetica-BoldItal.ttf') format('truetype');
	font-family: 'Tekvetica';
	font-style: italic;
	font-weight: bold;
}
@font-face {
	font-family: 'Tekvetica';
	src: url('./fonts/tekvetica/Tekvetica-Heavy.eot?') format('eot');
	src: url('./fonts/tekvetica/Tekvetica-Heavy.woff') format('woff'), url('./fonts/tekvetica/Tekvetica-Heavy.ttf') format('truetype');
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: 'Tekvetica';
	src: url('./fonts/tekvetica/Tekvetica-Italic.eot?') format('eot');
	src: url('./fonts/tekvetica/Tekvetica-Italic.woff') format('woff'), url('./fonts/tekvetica/Tekvetica-Italic.ttf') format('truetype');
	font-style: italic;
	font-weight: normal;
}
@font-face {
	font-family: 'Tekvetica';
	src: url('./fonts/tekvetica/Tekvetica-Regular.eot?') format('eot');
	src: url('./fonts/tekvetica/Tekvetica-Regular.woff') format('woff'), url('./fonts/tekvetica/Tekvetica-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Tekvetica';
	src: url('./fonts/tekvetica/Tekvetica-Thin.eot?') format('eot');
	src: url('./fonts/tekvetica/Tekvetica-Thin.woff') format('woff'), url('./fonts/tekvetica/Tekvetica-Thin.ttf') format('truetype');
	font-style: normal;
	font-weight: 200;
}
@font-face {
	font-family: 'Tekvetica';
	src: local('Tekvetica-ThinItalic');
	src: url('./fonts/tekvetica/Tekvetica-ThinItalic.eot?') format('eot');
	src: url('./fonts/tekvetica/Tekvetica-ThinItalic.woff') format('woff'), url('./fonts/tekvetica/Tekvetica-ThinItalic.ttf') format('truetype');
	font-style: italic;
	font-weight: 200;
}

@font-face {
	font-family: 'Bandit';
	src: local('Bandit-Medium');
	src: url('./fonts/bandit/Bandit-Medium.eot?') format('eot');
	src: url('./fonts/bandit/Bandit-Medium.woff') format('woff'), url('./fonts/bandit/Bandit-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'FontAwesome';
/* 	src: local('fontawesome-webfont'); */
	src: url('./fonts/fontawesome/fontawesome-webfont.eot?') format('eot');
	src: url('./fonts/fontawesome/fontawesome-webfont.woff') format('woff'), url('./fonts/fontawesome/fontawesome-webfont.ttf') format('truetype');
}

.tekserve-sig p, .tekserve-sig div, .tekserve-sig a {
	font-family: 'Tekvetica' Helvetica, Arial, sans-serif !important;
	color: #004d72 !important;
}

.tekserve-sig p strong, .tekserve-sig div strong, .tekserve-sig a strong {
	font-family: 'Tekvetica' Helvetica, Arial, sans-serif !important;
	color: #004d72 !important;
	font-weight: 900;
/* 	text-transform: uppercase; */
}

.tekserve-sig div strong.teklogo {
	font-family: 'Bandit', sans-serif !important;
	color: #40a8c9 !important;
	font-size: 1.75em;
}

.tekserve-sig a, .tekserve-sig a:visited {
	color: #f36f37 !important;
	text-decoration: none !important;
	margin-left: 1.5em;
	position: relative;
	border-right: 2px solid #004d72;
	padding-right: .5em;
}

.tekserve-sig a:hover {
	color: #40a8c9 !important;
}

.tekserve-sig a:last-child {
	border: 0 !important;
}

.tekserve-sig a.weblink:before {
    content: "\f0ac";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #004d72;
    font-size: inherit;
    position: absolute;
    top: 0;
    left: -1.25em;
}

.tekserve-sig a.bloglink:before {
    content: "\f0a1";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #004d72;
    font-size: inherit;
    position: absolute;
    top: 0;
    left: -1.25em;
}

.tekserve-sig a.tweetlink:before {
    content: "\f099";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #004d72;
    font-size: inherit;
    position: absolute;
    top: 0;
    left: -1.25em;
}

.tekserve-sig a.fblink:before {
    content: "\f082";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #004d72;
    font-size: inherit;
    position: absolute;
    top: 0;
    left: -1.25em;
}

.tekserve-sig a.lilink:before {
    content: "\f08c";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #004d72;
    font-size: inherit;
    position: absolute;
    top: 0;
    left: -1.25em;
}

.tekserve-sig span.noshow {
	display: none !important;
}