#nav ul.primary-menu .ul.submenu {
	transition: left .5s ease-in-out;
}

ul.menu li:hover > ul.sub-menu {
	display: none;
}

ul.menu-primary li.current-submenu ul.sub-menu {
	left: 0;
	width: auto;
	display: block;
}

#nav.floating-menu ul.sub-menu {
	background-color: #f36f37;
	top: 2.75em;
	width: 100%;
	margin-left: 0;
	padding-left: 2em;
}

#nav.floating-menu ul.menu-primary li.current-submenu ul.sub-menu a  {
	padding-top: .5em;
}

ul.menu li:hover > ul.sub-menu li,
ul.menu-primary li.current-submenu ul.sub-menu li {
	float: left;
	display: inline-block;
	border: 0;
	list-style-type: none;
	border: 0;
	height: 1.5em;
	/* margin-top: .5em; */
	margin-bottom: 1em;
	text-indent: 0 !important;
	margin-left: -.35em !important;
	max-width: 320px;
}

#wrap>.sub-menu li.menu-item a,
ul.menu-primary li.current-submenu ul.sub-menu a {
	background: transparent;
	border: 0;
	color: #fff;
	width: auto;
	padding: 0 1em;
	font-size: 1em;
	display: block;
	position: relative;
	text-decoration: none;
	transition: color .25s ease-out;
	max-width: 100%;
}

ul.menu-primary ul.sub-menu li.current-submenu a,
#wrap>.sub-menu li.menu-item a:hover,
ul.menu-primary li.current-submenu ul.sub-menu a:hover {
	color: #004d72;
}

div#wrap {
	background-color: #f36f37;
}

/* these depend on moving the sub-menu out of and directly below the #nav; there will likely be a container or two to hold menu anims. Still need to implement mobile version (likely offcanvas) */

div#wrap #nav .wrap {
	margin-bottom: 2.25em;
}

#wrap>.sub-menu {
	padding: .5em 2em;
	text-align: center;
}

#wrap>.sub-menu li.menu-item {
	list-style: none;
	display: inline-block;
}

#footer.footer {
	position: fixed;
	transition: bottom .5s ease-out;
	bottom: -64px;
}

#footer.floating.footer {
	bottom: 0px;
	z-index: 99;
}

@media only screen and (max-width: 768px) {

	.menu-primary > li, .menu-secondary > li, #header .menu > li {
		height: auto;
	}
	
	.menu-primary li ul, .menu-secondary li ul, #header .menu li ul {
		position: relative;
	}
	
	#nav.floating-menu ul.sub-menu,
	#nav ul.sub-menu,
	.menu-primary li.current-submenu a {
		top: 0;
		background-color: #40a8c9;
		padding-left: 2em;
		margin-left: 0;
		width: 100%;
	}
	
	div#wrap #nav .wrap {
		margin-bottom: 0;
	}
	
	#footer-widgets.footer-widgets {
		padding-bottom: 9em;
	}
	
	#footer.footer {
		padding-bottom: 4em;
		bottom: -8em;
	}
	
	#footer.footer .innerRowWrap .wpb_column {
		padding: 0 2.75em;
	}
	
	#header .widget-area {
		float: left;
		text-align: left;
		margin-bottom: 2em;
	}

}