
ul.menu li:hover > ul.sub-menu,
ul.menu-primary li.current_page_item ul.sub-menu,
ul.menu-primary li.current-page-ancestor ul.sub-menu {
	left: 0;
	width: auto;
}

#nav.floating-menu ul.sub-menu {
	background-color: #f36f37;
	top: 2.75em;
	width: 100%;
	margin-left: 0;
	padding-left: 2em;
}

#nav.floating-menu ul.menu-primary li.current_page_item ul.sub-menu a  {
	padding-top: .5em;
}

ul.menu li:hover > ul.sub-menu li,
ul.menu-primary li.current_page_item ul.sub-menu li,
ul.menu-primary li.current-page-ancestor ul.sub-menu li {
	float: left;
	display: inline-block;
	border: 0;
	list-style-type: none;
	border: 0;
	height: 1.5em;
	/* margin-top: .5em; */
	margin-bottom: 1em;
	text-indent: 0 !important;
	margin-left: -.35em !important;
	max-width: 320px;
}

#wrap>.sub-menu li.menu-item a,
ul.menu-primary li.current_page_item ul.sub-menu a,
ul.menu-primary li.current-page-ancestor ul.sub-menu a {
	background: transparent;
	border: 0;
	color: #fff;
	width: auto;
	padding: 0 1em;
	font-size: 1em;
	display: block;
	position: relative;
	text-decoration: none;
	font-weight: 200;
	transition: color .25s ease-out;
	max-width: 100%;
}

ul.menu-primary ul.sub-menu li.current_page_item a,
ul.menu-primary ul.sub-menu li.current-page-ancestor a,
#wrap>.sub-menu li.menu-item a:hover,
ul.menu-primary li.current_page_item ul.sub-menu a:hover,
ul.menu-primary li.current-page-ancestor ul.sub-menu a:hover {
	color: #004d72;
}

div#wrap {
	background-color: #f36f37;
}

/* these depend on moving the sub-menu out of and directly below the #nav; there will likely be a container or two to hold menu anims. Still need to implement mobile version (likely offcanvas) */

div#wrap #nav .wrap {
	margin-bottom: 2.25em;
}

#wrap>.sub-menu {
	padding: .5em 2em;
	text-align: center;
}

#wrap>.sub-menu li.menu-item {
	list-style: none;
	display: inline-block;
}

#footer.footer {
	position: fixed;
	transition: bottom .5s ease-out;
	bottom: -64px;
}

#footer.floating.footer {
	bottom: 0px;
}